@tailwind base;
@tailwind components;
@tailwind utilities;

@responsive {
  .bg-gradient-gray-200-to-teal-700 {
    background-image: linear-gradient(theme('colors.gray.200'), theme('colors.teal.700'));
  }

  .trans {
    transition: all .25s;
  }

  .trans-bg {
    transition-property: background;
  }

  .trans-slow {
    transition-duration: .5s;
  }

  .trans-slower {
    transition-duration: .5s;
  }

  .trans-fast {
    transition-duration: .15s;
  }

  .trans-faster {
    transition-duration: .075s;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .overlay-black-alpha {
    background-color: rgba(0, 0, 0, 0.2);
    /* TODO: improve after adding PostCSS to sth like: */
    /* background-color: color(theme('colors.black') a(20%)); */
  }
}

@variants group-hover {
  .overlay-none {
    background-color: transparent;
  }

  .scale-1-1 { transform:scale(1.1); }
}

.ghost-post-content {
  @apply font-sans;

  /* TODO: we need scss first */
  /* h1 {
    @apply text-3xl mb-2;
  }

  h2 {
    @apply text-2xl mb-2;
  } */
}
